* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #23be9d;
}

#navbar {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 3;
}

#navbar h4 {
  float: left;
  margin-left: 10px;
  font-family: fantasy;
  color: blue;
  padding-top: 5px;
}

#togglerbar {
  font-size: 25px;
  font-weight: bolder;
  float: right;
  padding-top: 3px;
  color: purple;
  cursor: pointer;
  margin-right: 7px;
}

#togglemenu {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 33px;
  background: #ff22ff;
}

#togglemenu a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin-top: 0;
  padding: 2px 0;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 12px;
}

#togglemenu a:hover {
  background: white;
  color: #ff22ff;
}

#togglemenu .active {
  background: black;
  color: blanchedalmond;
}

#togglemenu .active:hover {
  background: white;
  color: black;
}

#info {
  background-color: antiquewhite;
  color: #ff22ff;
  font-size: 18px;
  font-family: cursive;
  text-align: center;
}

#content {
  position: relative;
  top: 80px;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 25px;
}

.instructions div {
  margin-bottom: 20px;
}

img {
  height: 395px;
  width: 25vw;
}

.col-md-4 div {
  border: 3px solid orange;
  -webkit-box-shadow: 6px 2px 3px 4px white;
          box-shadow: 6px 2px 3px 4px white;
  border-radius: 10%;
  margin-bottom: 20px;
  background-color: #a6ff01;
  padding: 10px;
}

.col-md-4 div h5 {
  color: rgba(32, 136, 255, 0.972);
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.col-md-4:last-child {
  margin-bottom: 90px;
}

.input {
  margin: 2px;
  font-size: 14px;
  width: 65px;
  border: 2px solid plum;
  border-radius: 2px 6px 2px 6px;
}

.ans {
  font-weight: bolder;
  color: #0905ff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.clear, .submit {
  font-family: cursive;
  padding: 3px;
  border: 2px solid orangered;
  border-radius: 3px 6px 3px 6px;
  background: black;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transition-delay: 0.01s;
          transition-delay: 0.01s;
  cursor: pointer;
  margin-bottom: 10px;
}

.clear:hover, .submit:hover {
  background-color: orangered;
}

i {
  margin: 10px 10px;
  color: blue;
}

i:hover {
  color: green;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  font-size: 12px;
}

.footer p {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

#ans3RF {
  display: none;
}

@media screen and (max-width: 850px) {
  .instructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  img {
    width: 80vw;
  }
  #togglemenu {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  #togglemenu {
    display: none;
  }
  #togglerbar {
    display: none;
  }
  .instructions {
    display: none;
  }
  #info {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */